# dash daemon

# dashd seclabel is specified in init.rc since
# it lives in the rootfs and has no unique file type.
type dashd, domain;
type dashd_exec, exec_type, file_type;

typeattribute dashd coredomain;
init_daemon_domain(dashd)

# Write to /dev/kmsg
allow dashd kmsg_device:chr_file rw_file_perms;

r_dir_file(dashd, sysfs_battery_supply)
r_dir_file(dashd, sysfs_usb_supply)

allow dashd {
    sysfs_battery_supply
    sysfs_usb_supply
}:file rw_file_perms;

allow dashd self:capability sys_resource;

###
### dashd: charger mode
###
#allow dashd sysfs:file { open read write ioctl };
allow dashd dash_device:chr_file { open read write ioctl };
allow dashd rootfs:file { entrypoint read execute getattr };

#allow ueventd sysfs:chr_file {create setattr};
allow sysfs tmpfs:filesystem associate;
#allow init sysfs:chr_file getattr;
