type fpc_data_file, file_type;
type fpc_images_file, file_type;
type sysfs_fpc_irq, sysfs_type, fs_type;
type proc_touchpanel, fs_type;
type nv_data_file, file_type;
type proc_stat, fs_type;
type debugfs_msm_core, debugfs_type, fs_type;
type debugfs_rmts, debugfs_type, fs_type;
