r_dir_file(fingerprintd, firmware_file)
r_dir_file(fingerprintd, proc_touchpanel)
allow fingerprintd fpc_data_file:dir rw_dir_perms;
allow fingerprintd fpc_data_file:sock_file { create unlink };
allow fingerprintd fpc_images_file:dir rw_dir_perms;
allow fingerprintd fpc_images_file:file create_file_perms;
allow fingerprintd sysfs_fpc_irq:file rw_file_perms;
allow fingerprintd tee_device:chr_file rw_file_perms;
allow fingerprintd sysfs:file write;
allow fingerprintd vfat:file r_file_perms;
