type ifaadaemon, domain;
type ifaadaemon_exec, exec_type, file_type;

#Allow for transition from init domain to ifaadaemon
init_daemon_domain(ifaadaemon)

#Allow servicemanager to interact with ifaadaemon
binder_call(ifaadaemon, servicemanager)

#Allow alipay_app to interact with ifaadaemon
binder_call(ifaadaemon, alipay_app)

#Mark ifaadaemon as a Binder service domain
binder_service(ifaadaemon)

#Allow access to tee device
allow ifaadaemon tee_device:chr_file rw_file_perms;
