allow mediaserver audio_device:chr_file { ioctl open read write };
allow mediaserver sensorservice_service:service_manager find;
allow mediaserver system_server:unix_stream_socket { read write };
allow mediaserver camera_data_file:dir search;
