allow qti_init_shell kmsg_device:chr_file { write open };
allow qti_init_shell diag_prop:property_service set;
allow qti_init_shell self:socket create_socket_perms;
qmux_socket(qti_init_shell)
