type remosaic_daemon, domain;
type remosaic_daemon_exec, exec_type, vendor_file_type, file_type;

#Allow for transition from init domain to remosaic_daemon
init_daemon_domain(remosaic_daemon)

#Allow remosaic_daemon to use Binder IPC
binder_use(remosaic_daemon)

#Allow remosaic_daemon to be registered with service manager
allow remosaic_daemon remosaic_service:service_manager add;
