#allow rmt_storage modem_efs_partition_device:blk_file rw_file_perms;

# debugfs access
userdebug_or_eng(`
  allow rmt_storage debugfs_rmt:dir search;
  allow rmt_storage debugfs_rmt:file rw_file_perms;
')
