allow system_server proc_touchpanel:dir search;
allow system_server proc_touchpanel:file rw_file_perms;

allow system_server wcnss_filter:unix_stream_socket connectto;
