allow system_app time_daemon:unix_stream_socket connectto;
allow system_app proc_touchpanel:dir search;
allow system_app proc_touchpanel:file rw_file_perms;
allow system_app sysfs_fpc:file write;

binder_call(system_app, ifaadaemon)
binder_call(system_app, remosaic_daemon)
