allow thermal-engine diag_prop:property_service set;
allow thermal-engine init:unix_stream_socket connectto;
allow thermal-engine property_socket:sock_file write;
