allow vendor_init {
  camera_data_file
  fingerprintd_data_file
  media_rw_data_file
  nfc_data_file
  radio_data_file
  system_data_file
  tombstone_data_file
  wifi_data_file
  wpa_socket
}:dir { create search getattr open read setattr ioctl write add_name remove_name rmdir relabelfrom };
