allow wcnss_service self:capability {
    setgid
    setuid
    dac_override
    net_raw
};
r_dir_file(wcnss_service, sdcardfs);
r_dir_file(wcnss_service, media_rw_data_file);
allow wcnss_service sdcardfs:file append;
allow wcnss_service media_rw_data_file:file append;
get_prop(wcnss_service, diag_prop);
