<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (C) 2010 The Android Open Source Project

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.android.nfc"
        android:sharedUserId="android.uid.nfc"
        android:sharedUserLabel="@string/nfcUserLabel"
>
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.NFC_UNLOCK" />
    <uses-permission android:name="android.permission.BIND_NFC_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.STATUS_BAR" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.STOP_APP_SWITCHES" />
    <uses-permission android:name="android.permission.MASTER_CLEAR" />
    <uses-permission android:name="android.permission.REAL_GET_TASKS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_FRAME_BUFFER" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_USERS" />
    <uses-permission android:name="android.permission.INTERNAL_SYSTEM_WINDOW" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SET_ACTIVITY_WATCHER" />
    <uses-permission android:name="android.permission.CONNECTIVITY_INTERNAL" />
    <uses-permission android:name="android.permission.NFC_HANDOVER_STATUS" />
    <uses-permission android:name="android.permission.LOCAL_MAC_ADDRESS" />
    <uses-permission android:name="com.android.permission.WHITELIST_BLUETOOTH_DEVICE" />
    <uses-permission android:name="android.permission.DISPATCH_NFC_MESSAGE" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <permission-group android:name ="com.gsma.services.nfc.permission"
                      android:label ="@string/permgrouplab_NFC"
                      android:description="@string/permgroupdesc_NFC"
                      android:priority="270" />
    <permission android:name="com.gsma.services.nfc.permission.TRANSACTION_EVENT"
                android:permissionGroup = "com.gsma.services.nfc.permission"
                android:label= "@string/permlab_nfcReceiveEvent"
                android:description = "@string/permdesc_nfcReceiveEvent" />

    <application android:name=".NfcApplication"
                 android:icon="@drawable/icon"
                 android:label="@string/app_name"
                 android:theme="@android:style/Theme.Material.Light"
                 android:persistent="true"
                 android:backupAgent="com.android.nfc.NfcBackupAgent"
                 android:killAfterRestore="false"
                 android:usesCleartextTraffic="false"
    >
        <meta-data android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIbiKKs0wlimxeJ9y8iRIaBOH6aeb2IurmZyBHvg" />

        <activity android:name=".TechListChooserActivity"
            android:theme="@*android:style/Theme.Dialog.Alert"
            android:finishOnCloseSystemDialogs="true"
            android:excludeFromRecents="true"
            android:multiprocess="true"
        />

        <activity android:name=".cardemulation.AppChooserActivity"
            android:finishOnCloseSystemDialogs="true"
            android:excludeFromRecents="true"
            android:clearTaskOnLaunch="true"
            android:multiprocess="true"
        />

        <activity android:name=".EnableNfcDialogActivity"
            android:finishOnCloseSystemDialogs="true"
            android:excludeFromRecents="true"
            android:clearTaskOnLaunch="true"
            android:multiprocess="true"
        />

        <activity android:name=".cardemulation.DefaultRemovedActivity"
            android:theme="@*android:style/Theme.Material.Dialog.Alert"
            android:finishOnCloseSystemDialogs="true"
            android:excludeFromRecents="true"
            android:clearTaskOnLaunch="true"
            android:multiprocess="true"
        />

        <activity android:name=".cardemulation.TapAgainDialog"
            android:finishOnCloseSystemDialogs="true"
            android:excludeFromRecents="true"
            android:clearTaskOnLaunch="true"
            android:multiprocess="true"
        />
        <activity android:name=".NfcRootActivity"
            android:theme="@*android:style/Theme.Translucent.NoTitleBar"
            android:excludeFromRecents="true"
            android:noHistory="true"
        />
        <activity android:name=".handover.ConfirmConnectActivity"
            android:finishOnCloseSystemDialogs="true"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:noHistory="true"
        />

        <activity android:name=".BeamShareActivity"
            android:finishOnCloseSystemDialogs="true"
            android:theme="@android:style/Theme.Translucent"
            android:label="@string/android_beam"
            android:noHistory="true"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity android:name=".ConfirmConnectToWifiNetworkActivity"
            android:finishOnCloseSystemDialogs="true"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:noHistory="true"
        />

        <service android:name=".beam.BeamSendService"
            android:process=":beam"
        />
        <service android:name=".beam.BeamReceiveService"
            android:process=":beam"
        />

        <service android:name=".handover.PeripheralHandoverService"
        />
    </application>
</manifest>
