# Copyright (c) 2013-2017, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
#

import /vendor/etc/init/hw/init.oneplus3.rc

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice
    mount_all /vendor/etc/fstab.qcom
    swapon_all /vendor/etc/fstab.qcom
    chown root system /mnt/vendor/persist
    chmod 0771 /mnt/vendor/persist
    mkdir /mnt/vendor/persist/data 0700 system system
    mkdir /mnt/vendor/persist/bms 0700 root system
    restorecon_recursive /mnt/vendor/persist

on init
    write /sys/module/qpnp_rtc/parameters/poweron_alarm 1

on post-fs
   start vendor.qseecomd

on post-fs-data
    mkdir /data/tombstones 0771 system system
    mkdir /data/tombstones/modem 0771 system system
    mkdir /data/tombstones/lpass 0771 system system
    mkdir /data/tombstones/wcnss 0771 system system
    mkdir /data/tombstones/dsps 0771 system system
    mkdir /persist/data/sfs 0700 system system
    mkdir /persist/data/tz 0700 system system
    mkdir /persist/qti_fp 0700 system system
    mkdir /data/misc/dts 0770 media audio
    mkdir /data/usf 0700 system system
    mkdir /data/misc/tloc/ 0700 system drmrpc
    mkdir /data/misc/audio_pp 0771 media audio

   # Add a cpuset for the camera daemon
   # We want all cores for camera
   mkdir /dev/cpuset/camera-daemon
   write /dev/cpuset/camera-daemon/cpus 0-3
   write /dev/cpuset/camera-daemon/mems 0
   chown cameraserver cameraserver /dev/cpuset/camera-daemon
   chown cameraserver cameraserver /dev/cpuset/camera-daemon/tasks
   chmod 0660 /dev/cpuset/camera-daemon/tasks

#Create folder for mm-qcamera-daemon
mkdir /data/vendor/camera 0770 camera camera

on property:init.svc.bootanim=running
    write /sys/class/leds/wled/brightness 4095

on boot
    start rmt_storage
    start rfs_access
# access permission for secure touch
    chmod 0660 /sys/devices/soc/75ba000.i2c/i2c-12/12-004a/secure_touch_enable
    chmod 0440 /sys/devices/soc/75ba000.i2c/i2c-12/12-004a/secure_touch
    chown system drmrpc /sys/devices/soc/75ba000.i2c/i2c-12/12-004a/secure_touch_enable
    chown system drmrpc /sys/devices/soc/75ba000.i2c/i2c-12/12-004a/secure_touch
    write /proc/sys/kernel/sched_boost 1
    write /sys/devices/soc/75ba000.i2c/i2c-12/12-0020/input/input0/update_fw 1

#USB controller configuration
    write /sys/module/g_android/parameters/mtp_tx_req_len 131072
    write /sys/module/g_android/parameters/mtp_rx_req_len 131072
    write /sys/class/android_usb/android0/f_rndis_qc/rndis_transports BAM2BAM_IPA

#start camera server as daemon
service qcamerasvr /system/vendor/bin/mm-qcamera-daemon
    class late_start
    user camera
    group camera system inet input graphics
    writepid /dev/cpuset/camera-daemon/tasks /dev/stune/top-app/tasks

#fingerprint service
service fingerprintd /system/vendor/bin/fingerprintd
    class late_start
    user system
    group system

service qfp-daemon /system/vendor/bin/qfp-daemon
    class late_start
    user system
    group system drmrpc diag input

#service fps_hal /system/vendor/bin/fingerprint.qcom
#    class late_start
#    user system
#    group system input

#Start up peripheral manager
service vendor.per_mgr /vendor/bin/pm-service
    class core
    user system
    group system
    ioprio rt 4
    writepid /dev/cpuset/system-background/tasks

service vendor.per_proxy /vendor/bin/pm-proxy
    class core
    user system
    group system
    disabled
    writepid /dev/cpuset/system-background/tasks

on property:init.svc.vendor.per_mgr=running
    start vendor.per_proxy

on property:sys.shutdown.requested=*
    stop vendor.per_proxy
    stop vendor.ims_rtp_daemon

#service mdm_launcher /system/bin/sh init.mdm.sh
#     class core
#     oneshot

service mdm_helper /system/bin/mdm_helper
     class core
     group root system
     disabled
## Allow usb charging to be disabled peristently
#on property:persist.usb.chgdisabled=1
#    write /sys/class/power_supply/battery/charging_enabled 0
#
#on property:persist.usb.chgdisabled=0
#    write /sys/class/power_supply/battery/charging_enabled 1
#
#service qrngd /system/bin/qrngd -f
#   class main
#   user root
#   group root
#
#service qrngp /system/bin/qrngp
#    class main
#    user root
#    group root
#    oneshot
#    disabled
#
#on property:sys.boot_completed=1
#    start qrngp

service vendor.qseecomd /vendor/bin/qseecomd
   class core
   user root
   group root
   writepid /dev/cpuset/system-background/tasks

service seempd /system/vendor/bin/seempd
   class late_start
   user system
   group system
   socket seempdw dgram 0666 system system

service secotad /system/vendor/bin/secotad
   class late_start
   user system
   group system

#service qosmgrd /system/bin/qosmgr /system/etc/qosmgr_rules.xml
#   user system
#   group system
#   disabled
#
service thermal-engine /system/vendor/bin/thermal-engine -c ${sys.qcom.thermalcfg:-/vendor/etc/thermal-engine.conf}
   class main
   user root
   socket thermal-send-client stream 0666 system system
   socket thermal-recv-client stream 0660 system system
   socket thermal-recv-passive-client stream 0666 system system
   socket thermal-send-rule stream 0660 system system
   group root system diag
   writepid /dev/cpuset/system-background/tasks

# reset thermal-engine when framework dies in VR mode
on property:init.svc.zygote=restarting && property:sys.qcom.thermalcfg=/vendor/etc/thermal-engine-vr.conf
   setprop sys.qcom.thermalcfg "/vendor/etc/thermal-engine.conf"
   restart thermal-engine

#service security-check1 /sbin/security_boot_check system
#    class core
#    oneshot
#
#service security-check2 /sbin/security_boot_check recovery
#    class core
#    oneshot
#
service adsprpcd /system/vendor/bin/adsprpcd
   class main
   user media
   group media
   writepid /dev/cpuset/system-background/tasks

service audiod /system/vendor/bin/audiod
   class late_start
   user system
   group system


service usf_tester /system/vendor/bin/usf_tester
    user system
    group system inet
    disabled
    oneshot

service usf_epos /system/vendor/bin/usf_epos
    class main
    user system
    group system inet
    disabled
    oneshot

service usf_gesture /system/vendor/bin/usf_gesture
    user system
    group system inet
    disabled
    oneshot

service usf_sync_gesture /system/vendor/bin/usf_sync_gesture
    user system
    group system inet audio
    disabled
    oneshot

service usf_p2p /system/vendor/bin/usf_p2p
    user system
    group system inet
    disabled
    oneshot

service usf_hovering /system/vendor/bin/usf_hovering
    user system
    group system inet
    disabled
    oneshot

service usf_proximity /system/vendor/bin/usf_proximity
    class late_start
    user system
    group system inet audio

service usf_pairing /system/vendor/bin/usf_pairing
    user system
    group system inet
    disabled
    oneshot

service usf_sw_calib /system/vendor/bin/usf_sw_calib
    user system
    group system inet
    disabled
    oneshot

service usf-post-boot /system/vendor/bin/sh /system/etc/usf_post_boot.sh
    class late_start
    user root
    disabled
    oneshot

on property:init.svc.bootanim=stopped
    start usf-post-boot

## imsdatadaemon starts with root and UID will be downgraded to SYSTEM.
service vendor.imsqmidaemon /system/vendor/bin/imsqmidaemon
    class main
    user system
    socket ims_qmid stream 0660 system radio
    group radio log diag
    writepid /dev/cpuset/system-background/tasks

# imsdatadaemon starts with root and UID will be downgraded to SYSTEM.
service vendor.imsdatadaemon /system/vendor/bin/imsdatadaemon
    class main
    user system
    socket ims_datad stream 0660 system radio
    group system wifi radio inet log diag
    disabled
    writepid /dev/cpuset/system-background/tasks

service vendor.pd_mapper /system/vendor/bin/pd-mapper
     class core
     disabled

on property:persist.sys.pd_enable=1
     start vendor.pd_mapper
     write /sys/class/service_locator/service_locator_status 1

on property:persist.sys.pd_enable=0
     write /sys/class/service_locator/service_locator_status 0

#
## QCA1530 SoC late_start group trigger
#service gnss-init /system/vendor/bin/gnss.qca1530.sh init
#   class late_start
#   oneshot
#
on property:vendor.ims.QMI_DAEMON_STATUS=1
    start vendor.imsdatadaemon

service vendor.ims_rtp_daemon /system/vendor/bin/ims_rtp_daemon
   class main
   user system
   group radio diag inet log
   writepid /dev/cpuset/system-background/tasks

service vendor.imsrcsservice /system/vendor/bin/imsrcsd
   class main
   user system
   group radio diag inet log wakelock
   writepid /dev/cpuset/system-background/tasks

on property:vendor.ims.DATA_DAEMON_STATUS=1
    restart vendor.ims_rtp_daemon

service dts_configurator /system/vendor/bin/dts_configurator
    class late_start
    user system
    group system media audio
    oneshot

service dtseagleservice /system/vendor/bin/dts_eagle_service
    class late_start
    user system
    group audio media
    disabled

on property:init.svc.dts_configurator=stopped
    start dtseagleservice

on property:init.svc.surfaceflinger=stopped
    stop ppd

on property:init.svc.surfaceflinger=running
    start ppd

on property:init.svc.surfaceflinger=restarting
    stop ppd

on property:init.svc.zygote=stopped
    stop ppd

on property:init.svc.zygote=running
    start ppd

on property:init.svc.zygote=restarting
    stop ppd

service energy-awareness /system/vendor/bin/energy-awareness
    class main
    user root
    group system
    oneshot

service vendor.hvdcp_opti /system/vendor/bin/hvdcp_opti
    class main
    user root
    group system wakelock

service mdtpd /system/vendor/bin/mdtpd
   class late_start
   user root
   group system radio drmrpc

on charger
    write /sys/devices/system/cpu/cpu2/online 0
    write /sys/devices/system/cpu/cpu3/online 0
    write /sys/module/lpm_levels/parameters/sleep_disabled 0
    wait /dev/block/bootdevice/by-name/system
    mount ext4 /dev/block/bootdevice/by-name/system /system ro barrier=1
    start vendor.hvdcp_opti

service dhcpcd_eth0 /system/vendor/bin/dhcpcd -ABKLG
	class late_start
	disabled
	oneshot

service iprenew_eth0 /system/vendor/bin/dhcpcd -n
	class late_start
	disabled
	oneshot

service ppd /vendor/bin/mm-pp-dpps
    class late_start
    user system
    group system graphics
    socket pps stream 0660 system system
    disabled
    writepid /dev/cpuset/system-background/tasks
