on early-boot
    chown system system /proc/s1302/key_rep
    chmod 0660 /proc/s1302/key_rep
    chown system system /proc/s1302/virtual_key
    chmod 0660 /proc/s1302/virtual_key

    chown system system /proc/touchpanel/up_swipe_enable
    chmod 0660 /proc/touchpanel/up_swipe_enable
    chown system system /proc/touchpanel/down_swipe_enable
    chmod 0660 /proc/touchpanel/down_swipe_enable
    chown system system /proc/touchpanel/left_swipe_enable
    chmod 0660 /proc/touchpanel/left_swipe_enable
    chown system system /proc/touchpanel/right_swipe_enable
    chmod 0660 /proc/touchpanel/right_swipe_enable
    chown system system /proc/touchpanel/double_swipe_enable
    chmod 0660 /proc/touchpanel/double_swipe_enable
    chown system system /proc/touchpanel/up_arrow_enable
    chmod 0660 /proc/touchpanel/up_arrow_enable
    chown system system /proc/touchpanel/down_arrow_enable
    chmod 0660 /proc/touchpanel/down_arrow_enable
    chown system system /proc/touchpanel/left_arrow_enable
    chmod 0660 /proc/touchpanel/left_arrow_enable
    chown system system /proc/touchpanel/right_arrow_enable
    chmod 0660 /proc/touchpanel/right_arrow_enable
    chown system system /proc/touchpanel/letter_o_enable
    chmod 0660 /proc/touchpanel/letter_o_enable

service touch-hal-1-0 /vendor/bin/hw/vendor.lineage.touch@1.0-service.oneplus3
    class hal
    user system
    group system
