<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.networkstack.tethering.oneplus3"
    android:versionCode="1"
    android:versionName="1.0">
    <application android:hasCode="false" />
    <overlay
      android:targetPackage="com.android.networkstack.tethering"
      android:targetName="TetheringConfig"
      android:isStatic="true"
      android:priority="0"/>
</manifest>
